### Import Libraries

In [59]:
import pandas as pd 
from string import ascii_uppercase as alphabet
import pickle

### Scrape the group tables of the 2022 world cup

In [60]:
# this is the link to getting the data before the tournament happened
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [61]:
all_tables[12]
all_tables[19]
all_tables[26]
all_tables[33]
all_tables[40]
all_tables[47]
all_tables[54]
all_tables[61]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Portugal    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2        Ghana    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Uruguay    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

In [62]:
# rename some columns and delete the qualification one
dict_table = {}
for letter,i in zip(alphabet, range(12, 68, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [63]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [64]:
#export dictionary
with open('groupTables', 'wb') as output:
    pickle.dump(dict_table, output)

### Scrape data from football matches WC2022