### Import Libraries

In [11]:
import pandas as pd 
from string import ascii_uppercase as alphabet
import pickle
from bs4 import BeautifulSoup
import requests

### Scrape the group tables of the 2022 world cup

In [2]:
# this is the link to getting the data before the tournament happened
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
all_tables[12]
all_tables[19]
all_tables[26]
all_tables[33]
all_tables[40]
all_tables[47]
all_tables[54]
all_tables[61]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Portugal    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2        Ghana    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Uruguay    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

In [4]:
# rename some columns and delete the qualification one
dict_table = {}
for letter,i in zip(alphabet, range(12, 68, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [5]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [6]:
#export dictionary
with open('groupTables', 'wb') as output:
    pickle.dump(dict_table, output)

### Scrape data from football matches WC2022

In [23]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 
         1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

def get_matches(year):
    web = f"https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup"
    response = requests.get(web)
    content = response.text
    soup = BeautifulSoup(content, 'lxml')

    matches = soup.find_all('div', class_='footballbox')

    home = []
    score = []
    away = []
    for match in matches:
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())

    dict_football = {'home': home, 'score': score, 'away': away}
    df_football = pd.DataFrame(dict_football)

    df_football['year'] = year
    return df_football

get_matches('1982')

               home         score               away  year
0            Italy            0–0             Poland  1982
1             Peru            0–0           Cameroon  1982
2            Italy            1–1               Peru  1982
3           Poland            0–0           Cameroon  1982
4           Poland            5–1               Peru  1982
5            Italy            1–1           Cameroon  1982
6     West Germany            1–2            Algeria  1982
7            Chile            0–1            Austria  1982
8     West Germany            4–1              Chile  1982
9          Algeria            0–2            Austria  1982
10         Algeria            3–2              Chile  1982
11    West Germany            1–0            Austria  1982
12       Argentina            0–1            Belgium  1982
13         Hungary           10–1        El Salvador  1982
14       Argentina            4–1            Hungary  1982
15         Belgium            1–0        El Salvador  1982
16         Belgium            1–1            Hungary  1982
17       Argentina            2–0        El Salvador  1982
18         England            3–1             France  1982
19  Czechoslovakia            1–1             Kuwait  1982
20         England            2–0     Czechoslovakia  1982
21          France            4–1             Kuwait  1982
22          France            1–1     Czechoslovakia  1982
23         England            1–0             Kuwait  1982
24           Spain            1–1           Honduras  1982
25      Yugoslavia            0–0   Northern Ireland  1982
26           Spain            2–1         Yugoslavia  1982
27        Honduras            1–1   Northern Ireland  1982
28        Honduras            0–1         Yugoslavia  1982
29           Spain            0–1   Northern Ireland  1982
30          Brazil            2–1       Soviet Union  1982
31        Scotland            5–2        New Zealand  1982
32          Brazil            4–1           Scotland  1982
33    Soviet Union            3–0        New Zealand  1982
34    Soviet Union            2–2           Scotland  1982
35          Brazil            4–0        New Zealand  1982
36          Poland            3–0            Belgium  1982
37         Belgium            0–1       Soviet Union  1982
38    Soviet Union            0–0             Poland  1982
39    West Germany            0–0            England  1982
40    West Germany            2–1              Spain  1982
41           Spain            0–0            England  1982
42           Italy            2–1          Argentina  1982
43       Argentina            1–3             Brazil  1982
44           Italy            3–2             Brazil  1982
45         Austria            0–1             France  1982
46         Austria            2–2   Northern Ireland  1982
47          France            4–1   Northern Ireland  1982
48          Poland            0–2              Italy  1982
49    West Germany   3–3 (a.e.t.)             France  1982
50          Poland            3–2             France  1982
51           Italy            3–1       West Germany  1982